fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
alembic==1.18.5
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
python-dotenv==1.0.0
PyMySQL==1.1.1
python-socketio==5.11.4
email-validator==2.2.0
httpx==0.28.1
maxminddb==3.1.1
user-agents==2.2.0
ua-parser==1.0.2
PyYAML==6.0.3
